:root {
       --color-primary: #e3ded7;
       --color-secondary: #6a958c;
       --color-tertiary: #8ead7c;
       --color-quaternary: #2d4443;
}
@font-face {
       font-family: regular;
       src: url(./font/Prata-Regular.ttf);
}

a {
       color: var(--color-tertiary);
       text-decoration: none;
}
::placeholder {
       color: var(--color-primary);
}
a:hover {
       color: var(--color-secondary);
}

body {
       background-color: var(--color-primary);
       color: var(--color-primary);
       font-family: regular;
       font-size: 16px;
       font-weight: 400;
       overflow-x:hidden;
       margin: 0;
       padding: 0;
}

/* Path: static/index.css */
.app {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       overflow-x:hidden;
       background-color: var(--color-primary);

}

.box {
       display: inline;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-color: blue;
       margin: 10px;
       padding: 10px;
}
/*>---------------------- Login -----------------------< */
.lContainer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 0.5fr 2fr 0.5fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". . ."
              ". login ."
              ". . .";
       position: relative;
       background: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
}
.login {
       display: grid;
       grid-template-rows: 1.1fr 1.7fr 0.7fr 0.5fr;
       grid-auto-columns: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-area: login;
}
.lContainer:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.login-text {
       grid-area: 1 / 1 / 2 / 2;
}
.login-text {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 30px;
       color: var(--color-tertiary);
       letter-spacing: 1px;
       text-transform: uppercase;
       font-family: regular;
       justify-items: end;
}
.login-form .input {
       position: relative;
       margin: 10px 0;
}
#gender {
       margin: 0;
       width: 100%;
       padding: 10px 0;
       font-size: 16px;
       color: #fff;
       letter-spacing: 1px;
       border: none;
       border-bottom: 1px solid #fff;
       outline: none;
       background: transparent;
}

.login-form .input input {
       width: 100%;
       padding: 10px 0;
       font-size: 16px;
       color: #fff;
       letter-spacing: 1px;
       border: none;
       border-bottom: 1px solid #fff;
       outline: none;
       background: transparent;
}
.login-form .input label {
       position: absolute;
       top: 10px;
       left: 0;
}
.login-form {
       grid-area: 2 / 1 / 3 / 2;
}
.login-submit {
       grid-area: 3 / 1 / 4 / 2;
}
.login-submit button {
       width: 100%;
       padding: 10px 0;
       font-size: 20px;
       color: #fff;
       letter-spacing: 1px;
       border: none;
       outline: none;
       background: var(--color-tertiary);
       cursor: pointer;
       transition: 0.5s;
}

.login-registerlink {
       grid-area: 4 / 1 / 5 / 2;
}

/*>---------------------- Login -----------------------< */
/*>---------------------- register -----------------------< */

.rContainer {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 0.5fr 2fr 0.5fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". . ."
              ". register ."
              ". . .";
       position: relative;
       background: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
}
.register {
       display: grid;
       grid-template-rows: 0.7fr 3fr 0.4fr 0.5fr 0.4fr;
       grid-auto-columns: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-area: register;
}
.rContainer:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.register-text {
       grid-area: 1 / 1 / 2 / 2;
}
.register-text {
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 30px;
       color: var(--color-tertiary);
       letter-spacing: 1px;
       text-transform: uppercase;
       font-family: regular;
}

.register-form {
       grid-area: 2 / 1 / 3 / 2;
}
.register-form .input {
       position: relative;
       margin: 10px 0;
}
.register-form .input input {
       width: 100%;
       padding: 10px 0;
       font-size: 16px;
       color: #fff;
       letter-spacing: 1px;
       border: none;
       border-bottom: 1px solid #fff;
       outline: none;
       background: transparent;
}

.register-submit {
       grid-area: 3 / 1 / 4 / 2;
}
.register-submit button {
       width: 100%;
       padding: 10px 0;
       font-size: 20px;
       color: #fff;
       letter-spacing: 1px;
       border: none;
       outline: none;
       background: var(--color-tertiary);
       cursor: pointer;
       transition: 0.5s;
}

.register-emptyspace {
       grid-area: 4 / 1 / 5 / 2;
}

.register-loginlink {
       grid-area: 5 / 1 / 6 / 2;
}

/*>---------------------- register -----------------------< */
/*>---------------------- Blamer/main -----------------------< */

.bContainer {
       padding-top: 40px ;
       display: grid;
       grid-template-columns: 0.2fr 1.8fr 1fr;
       grid-template-rows: auto;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". cPostBox bUser"
              ". bPost bRightSideArea"
              ;
}
.cPostBox {
       grid-area: cPostBox;
       display: grid;
       grid-template-columns: 0.1fr 3.1fr 0.1fr;
       grid-template-rows: 0.1fr 3.1fr 0.1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". . ."
              ". bPostForm ."
              ". . .";
}

.bPostForm {
       grid-area: bPostForm;
       display: grid;
       grid-template-rows: 1fr;
       grid-auto-columns: 0.5fr 0.5fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       position: relative;
       background: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
}
.bPostForm:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.bPostForm:hover .sendB {
       border-radius: 0% 0% 900% 900% / 0% 0% 500% 500%;
}
.topSide {
       margin-top: 20px;
       margin-left: 10px;
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas: "pTitle pTopics";
       grid-area: 1 / 1 / 2 / 2;
       width: 929px;
}
.pTitle {
       grid-area: pTitle;
       font-family: regular;
       font-size: 20px;
       color: var(--color-quaternary);
}
.pTitle input {
       background: var(--color-quaternary);
       width: 95%;
       height: 30px;
       outline: none;
       border: none;
       font-family: regular;
       font-size: 20px;
       color: var(--color-primary);
}
.pTopics {
       grid-area: pTopics;
       background: var(--color-quaternary);
       width: 90%;
       height: 30px;
       outline: none;
       border: none;
       font-family: regular;
       font-size: 20px;
       color: var(--color-primary);
}
.botSide {
       margin-left: 10px;
       width: 96%;
}
.textBox {
       background: var(--color-quaternary);
       resize: none;
       outline: none;
       border: none;
       width: 100%;
       height: 100px;
       font-family: regular;
       font-size: 20px;
       color: var(--color-primary);
}
.sendB {
       font-size: 1.5em;
       font-family: regular;
       outline: none;
       border: none;
       position: relative;
       background: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       transition: all 0.4s ease;
       color: var(--color-primary);
}
.sendB:hover {
       cursor: pointer;
       color: var(--color-secondary);
       border-radius: 0% 0% 900% 900% / 0% 0% 500% 500%;
}
.bUser { 
       grid-area: bUser;
       width: 400px;
       height: 100px;
       position: relative;
       background-color: var(--color-quaternary);
       color: var(--color-primary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       place-self: center;
       display: grid;
       grid-template-columns: 1fr  ;
       grid-template-rows: 0.5fr  ;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              "userTop"
              "userBottom";
             

}
.bUser:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.userTop {
       grid-area: userTop;
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas: "bUserName bLogButton";
       place-self: center;
       width: 100%;
       height: 50px;
}
.userBottom {
       grid-area: userBottom;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas: "bChatButton ";
       place-self: center;
       width: 100%;
       height: 50px;

}
.bUserName{
       grid-area: "bUserName";
       font-family: regular;
       font-size: 20px;
       color: var(--color-primary);
       margin-left: 10px;
       margin-top: 10px;
       place-self: start;
       text-align: left;


}
.bLogButton{
      grid-area: "bLogButton";
       font-family: regular;
       font-size: 20px;
       color: var(--color-primary);
       margin-right: 10px;
       margin-top: 10px;
       place-self: end;
       text-align: right;

}
.bChatButton {
       grid-area: "bChatButton";
       font-family: regular;
       place-self: center;
       font-size: 20px;
       color: var(--color-primary);
       margin-left: 10px;
       margin-bottom: 10px;
       transition: all 0.4s ease;
}      
.bChatButton:hover {
       color: var(--color-secondary);
       cursor: pointer;
}

.bPosts {
       width: 1000px;
       height: 800px;
       grid-area: bPost;
       overflow: auto;
}
.bRightSideArea {
       display: grid;
       grid-template-columns: 0.2fr 2.6fr 0.2fr;
       /* grid-template-rows: 0.1fr 1fr; */
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". bTopics ."
              ". bChat .";
       grid-area: bRightSideArea;
}
.bTopics {
       grid-area: bTopics;
       display: grid;
       grid-template-columns: auto auto auto auto;
}
.bTopic {
       margin: 10px;
       padding: 10px;
       width: 75px;
       height: 100px;
       position: relative;
       background: white;
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       font-family: regular;
       font-size: 20px;
       color: var(--color-quaternary);
       transition: all 0.4s ease;
       place-self: center;
}
.bTopic .tBox .tName{
       font-family: regular;
       font-size: 20px;
       transition: all 0.1  s ease;
       text-align: center;
}
.bTopic:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
       background-color: var(--color-quaternary);
       color: var(--color-primary);
}
.bContactBox{
       grid-area: bChat;
       width: 400px;
       height: 600px;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.3fr 2.5fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              "bContactListTitle"
              "bContactList";
       position: relative;
       background-color: var(--color-quaternary);
       color: var(--color-primary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       place-self: center;
}
.bContactBox:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}
.bContactListTitle{
       grid-area: bContactListTitle;
       font-family: regular;
       font-size: 20px;
       color: var(--color-primary);
       margin-left: 10px;
       margin-top: 10px;
       place-self: center;
}
.bContactList{
       grid-area: bContactList;
       width: 100%;
       height: 80%;
       overflow: auto;
}
.bContactList .bContact {
       margin: 10px;
       padding: 5px;
       position: relative;
       background: white;
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       font-family: regular;
       font-size: 20px;
       color: var(--color-quaternary);
       display: grid;
       grid-template-columns: 0.8fr 0.2fr;
       grid-template-rows: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              "bContactName bcButton";
       height: 50px;

} 
.bContactList .bContact:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
       background-color: var(--color-quaternary);
       color: var(--color-primary);
}
.bContactName{
       grid-area: bContactName;
       font-family: regular;
       font-size: 20px;
       margin-left: 10px;
       margin-top: 10px;
       place-self: start;
       text-align: left;
}
#fpUser{
       margin-right: 10px;
       transition: all 0.4s ease
}
#fpUser:hover{
       cursor: pointer;
       color: var(--color-secondary);
}
.offlineStatus{
       border: 10px;
       display: inline-block;
       width: 15px;
       height: 15px;
       border-radius: 50%;
       background-color: var(--color-primary);
}
.onlineStatus{
       border: 10px;
       display: inline-block;
       width: 15px;
       height: 15px;
       border-radius: 50%;
       background-color: var(--color-tertiary);
}
.notif {
       margin-left: 10px ;
       display: inline-block;
       padding: 0.25em;
       border-radius: 5px;
       background-color: var(--color-secondary);
       color: white;
       font-size: 0.8em;
       font-weight: bold;
       box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
     }
.bcButton{
       grid-area: bcButton;
       place-self: center;
       margin-right: 10px;
       transition: all 0.4s ease;
}
.bcButton:hover{
       cursor: pointer;
       color: var(--color-secondary);
}
.bChatBox{
       grid-area: bChat;
       width: 400px;
       height: 600px;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.3fr 2.5fr 0.2fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              "cReceiverName"
              "cArea"
              "cInput";
       position: relative;
       background-color: var(--color-quaternary);
       color: var(--color-primary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       place-self: center;
}
.cReceiverName{
       grid-area: cReceiverName;
       font-family: regular;
       font-size: 25px;
       margin: 15px;
       position: relative;
       background-color: white;
       color: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       padding: 2px;
       text-align: center;
}
.typing-animation{

       display: none;
}
.typing-animation span {
       display: inline-block;
       margin: 0 5px;
       width: 10px;
       height: 10px;
       border-radius: 50%;
       animation: typing 1.7s ease-in-out infinite;
     }

     .typing-animation span:nth-child(1) {
       animation-delay: 0.1s;
     }
     
     .typing-animation span:nth-child(2) {
       animation-delay: 0.2s;
     }
     
     .typing-animation span:nth-child(3) {
       animation-delay: 0.3s;
     }
     
     @keyframes typing {
       0% {
         transform: translateY(0px);
       }
       50% {
         transform: translateY(-10px);
       }
       100% {
         transform: translateY(0px);
       }
     }
.cArea{
       grid-area: cArea;
       width: 90%;
       overflow: auto;
       padding: 10px 20px;

}
.messageBox{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.2fr 0.8fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              "mInfo"
              "mText";
       margin: 10px 0;
}
.messageBox .mInfo{
       grid-area: mInfo;
     font-size: 10px;
       color: var(--color-quaternary);  
       transition: all 1s ease;
}

.messageBox .message{
       grid-area: mText;
       font-size: 15px;
       background: white;
       color: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       padding: 2px 10px;     
       margin: 0;    
}
.messageBox .message:hover{
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
       background-color: var(--color-quaternary);
       color: var(--color-primary);
}
.messageBox:hover .mInfo{
       color: var(--color-primary);
}


.cInput{
       grid-area: cInput;
       font-family: regular;
       font-size: 20x;
       margin: 15px;
       position: relative;
       background-color: white;
       color: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
       padding: 2px 10px;
       text-align: center;
       height: 40px;
}
.cInput input{
       width: 100%;
       height: 100%;
       padding: 0 ;
       margin: 0;
       border: none;
       outline: none;
       font-family: regular;
       font-size: 20px;
}



.bPost {
       display: grid;
       grid-template-columns: 0.1fr 3.1fr 0.1fr;
       grid-template-rows: 0.1fr 3.1fr 0.1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". . ."
              ". pBox ."
              ". . .";
}
.pBox {
       display: grid;
       grid-template-columns: 2.8fr 0.6fr 0.4fr 0.4fr;
       grid-template-rows: 2.9fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas: "pContent pBlamer pTopic pComent";
       grid-area: pBox;
       position: relative;
       background: white;
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 0.7s ease;
       align-items: center;
       padding-left: 10px;
}
.pBox:hover {
       background: var(--color-quaternary);
       color: var(--color-primary);
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.pBox:hover .pTime, 
.pBox:hover .pTitle, 
.pBox:hover .pStory {
  color: var(--color-primary);
}
.blameContent {
       grid-area: pBox;
       display: grid;
       grid-template-columns: 0.1fr 3.1fr 0.1fr;
       grid-template-rows: 0.3fr 0.3fr 3.6fr 0.3fr 0.3fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              ". . ."
              ". pTop ."
              ". pContent ."
              ". pBottom ."
              ". . .";
       z-index: 2;
       position: relative;
       background: white;
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 1s ease;
       align-items: center;
       padding-left: 10px;
       height: 400px;
}
.blameContent:hover{
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.pbTop {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-area: pTop;

}

.pbTitle {
       grid-area: 1 / 1 / 2 / 2;
       font-family: regular;
       font-size: 20px;
       color: var(--color-quaternary);
       font-weight: 800;
       text-align: left;

}


.pbUsername {
       grid-area: 1 / 3 / 2 / 4;
       font-family: regular;
       font-size: 20px;
       color: var(--color-quaternary);
       font-weight: 800;
       text-align: right;
}

.pbTime {
       grid-area: 1 / 2 / 2 / 3;
       font-family: regular;
       font-size: 13px;
       color: var(--color-quaternary);

}

 .pbContent {
       margin-top: 10px;
       grid-area: pContent;
       height: 90%;
       width: 100%;
       resize: none;
       outline: none;
       border: none;
       font-family: regular;
       font-size: 18px;
       color: var(--color-quaternary);
       
       
}

.pbBottom {
       display: grid;
       grid-template-columns: 2.5fr 0.5fr 0.5fr 0.5fr;
       grid-template-rows: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas: "pTopic pLike pDislike pComment";
       grid-area: pBottom;
       font-size: 13px;
}

.pbTopic {
       grid-area: pTopic;
       transition: all 1s ease;
}
.pbTopic:hover {
       color: var(--color-quaternary);
}
/* this i just number box */

.pbLikeNumb {
       grid-area: pLike;
       transition: all 0.7s ease;
}
.pbLikeNumb:hover {
       color: var(--color-quaternary);
}

.pbDislikeNumb {
       grid-area: pDislike;
       transition: all 0.7s ease;
}
.pbDislikeNumb:hover {
       color: var(--color-quaternary);
}

.pbCommentNumb {
       grid-area: pComment;
       transition: all 0.7 ease;
}
.pbCommentNumb:hover {
       color: var(--color-quaternary);
}

.pbCommentBox{
       grid-area: pBox;
       padding:  10px;
       position: relative;
       background: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 0.7s ease;
       align-items: center;


}
.pbCommentBox:hover{
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}


.pbCommentBoxContent{
       background: transparent;
       color: var(--color-primary);
       height: 90%;
       width: 85%;
       resize: none;
       outline: none;
       border: none;
       font-family: regular;
       font-size: 18px;
}
.sendComment{
       background: transparent;
       color: var(--color-primary);
       font-family: regular;
       font-size: 18px;
       position: absolute;
       right: 30px;
}
.sendComment:hover{
       color: var(--color-secondary);
}
.pbCommentArea{
       grid-area: pBox;
       z-index: 10;
       overflow: auto;
       height: 320px;
       width: 100%;
}
.pbComment{
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.2fr 0.6fr 0.2fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas: 
       "pbCommentUname" 
       "pbCommentContent"
       "pbCommentBotton";
       margin-top: 10px;
       position: relative;
       align-items: center;
       padding: 10px;
      
}
.pbCommentUname{
       grid-area: pbCommentUname;
       font-family: regular;
       font-size: 15px;
       color: var(--color-primary);
       font-weight: 800;
       text-align: left;
       transition: all 0.7s ease;
}
.pbCommentContent{
       grid-area: pbCommentContent;
       font-family: regular;
       font-size: 15px;
       color: var(--color-quaternary);
       font-weight: 800;
       width: 60%;
       text-align: left;
       position:relative;
       background: white;
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.7s ease;
       align-items: center;
       padding: 10px;
}
.pbCommentBotton{
       padding: 5px;
       grid-area: pbCommentBotton;
       font-family: regular;
       font-size: 18px;
       color: var(--color-quaternary);
       font-weight: 800;
       text-align: left;
       display: grid;
       grid-template-columns: 0.2fr 0.2fr 0.6fr;
       grid-template-rows: 0.2fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
       "pbCommentLike pbCommentDislike";
       position: relative;
       background: white;
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
       transition: all 0.7s ease;
}
.pbComment:hover .pbCommentContent{
       border-radius: 0% 0% 50% 50% / 0% 0% 0% 0%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.pbComment:hover .pbCommentBotton{
       border-radius: 0% 0% 50% 50% / 0% 0% 10% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.pbComment:hover .pbCommentUname{
       color: var(--color-quaternary);
}


.pbCommentLike{
       font-size: 14px;
       grid-area: pbCommentLike;
}
.pbCommentDislike{
       font-size: 14px;
       grid-area: pbCommentDislike;
}

.pBlamer {
       grid-area: pBlamer;
}
.pTopic {
       grid-area: pTopic;
}
.pComent {
       grid-area: pComent;
}
.pContent {
       display: grid;
       grid-template-rows: 1fr 0.5fr 2fr;
       grid-auto-columns: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-area: pContent;
}
.pTime {
       grid-area: 2 / 1 / 3 / 2;
       font-family: regular;
       font-size: 15px;
       color: var(--color-quaternary);
}
.pTitle {
       grid-area: 1 / 1 / 2 / 2;
       font-family: regular;
       font-size: 20px;
       color: var(--color-quaternary);
       font-weight: 800;
}
.pStory {
       grid-area: 3 / 1 / 4 / 2;
       font-family: regular;
       font-size: 18px;
       color: var(--color-quaternary);
}
/*>---------------------- Blamer/main -----------------------< */
/*>---------------------- Profile -----------------------< */
.infoContainer {
       grid-area: pBox;
}
.pProfileBox {
       display: grid;
       grid-template-columns: 1fr ;
       grid-template-rows: 1fr ;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-template-areas:
              " info1 "
              " info2 "
             ;
       grid-area: pProfileBox;
       width: 100%;
       height: 100%;
       position: relative;
       background: var(--color-quaternary);
       border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
       box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
       transition: all 0.4s ease;
}
.pProfileBox:hover {
       border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
       box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.info1 {
       display: grid;
       grid-template-rows: 1fr;
       grid-auto-columns: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-area: info1;
       place-self: center;
       font-size: 30px;
       padding: 5px;
}
.info2 {
       display: grid;
       grid-template-rows: 0.2fr 1.8fr;
       grid-auto-columns: 1fr;
       gap: 0px 0px;
       grid-auto-flow: row;
       grid-area: info2;
}

#userInfo li {
       display: inline-block;
       margin-right: 10px; /* Add some space between the list items */
       }


.userInfo {
       grid-area: 2 / 1 / 3 / 2;
       display: none;
}
.userInfo :active {
       display: block;
}
.aboutMe {
       font-family: regular;
       font-size: 18px;
       color: var(--color-primary);
       font-weight: 800;
       text-align: left;
       padding: 20px;
       margin-left: 20px;
}
.pbPostLink{
       color: var(--color-primary);
       font-weight: 800;
       font-family: regular;
       font-size: 18px;
       text-align: left;
       padding: 20px;
       margin-left: 20px;
}
.pbPostLink:hover{
       color: white;
}

/*>---------------------- Profile -----------------------< */
